html, body {
  height: 100% !important;
  width: 100% !important;
}

.inlineDiv {
	display: inline;
}

.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}

#ReactThreeTestComponent canvas {
   display: block;
   padding: 0;
   border : 0;
   margin-top: 10px;
   margin-bottom: 10px;
}
